<div>
  <ngx-ui-loader></ngx-ui-loader>

  <spring-data-table
    (rowSelect)="onEmployeeSelect($event)"
    [tableHeaders]="['First Name', 'Last Name', 'Salary', 'Type', 'Contract']"
    [dataKeys]="[
      'firstName',
      'lastName',
      'salary',
      'employeeType',
      'contractType.type'
    ]"
    [data]="employeesPageable"
    [pageSize]="pageSize"
    [pageSizeOptions]="[2, 4, 10]"
    (pageSizeChange)="onPaginationSizeChange($event)"
    (pageChange)="pageChanged($event)"
  ></spring-data-table>
</div>
