<div class="pl-2 pt-2">
  <button class="btn btn-secondary btn-sm" (click)="open(mymodal)">
    {{ searchTriggered ? "View Search Filters" : "Advanced Search" }}
  </button>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Employee Search</h4>
  </div>
  <div class="modal-body">
    <app-search-filter (closeDialog)="onCloseDialog()"> </app-search-filter>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>
<hr />
<app-employee-list></app-employee-list>
